/* **********************   login-page-css       ************************************** */










.login-main-div{
    
     background-image: url("../../images/background.jpg") ;
     background-size: 700px;
     margin-left: 5rem;
     width: 100%;
   
 }
 
 .login-page-form-div{
 
     border-radius: 2rem;
     background-color: rgba(83, 54, 54, 0.123);
    
     height: 65vh;
     width: 30%;
     color: black;
     margin: auto;
     text-align: center;
 
 
     
 
 }
 .login-heading{
 
     font-size: 2.5rem;
     font-style: italic;
     font-family: 'Courier New', Courier, monospace;
     color: white;
     margin-bottom: 2rem;
     padding-top: 1.5rem;
 }
 .username-label{
 
    font-size: 1rem;
    margin-right: auto;
    margin-left: 15%;
    margin-top: 0.7rem;
    color: red;
    font-weight: 600;
 
 }
 
 .email-input{
 height: 3.3vh;
 width: 70%;
 text-align: center;
 
 
 
 }
 .password-label{
    font-size: 1rem;
 margin-right: auto;
 margin-left: 15%;
 margin-top: 0.7rem;
 color: red;
 font-weight: 600;
 }
 .password-input{
 height: 3.3vh;
 width: 70%;
 text-align: center;
 
 
 
 }
 .login2-button{
     width: 72%;
 margin: 1rem;
 height: 4vh;
 color: red;
 border: 1.1px solid red;
 font-weight: bolder;
 
 
     
 
 
 }
 .login-as-guest-button{
     width: 72%;
 margin: 0.2rem;
 height: 4vh;
 color: red;
 border: 1.1px solid red;
 font-weight: bolder;
 
 
 
 }
 .username-div{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .password-div{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .not-a-member{
     color: red;
 }
 .not-a-member-signup{
 
     color:white;
     text-decoration: none;
     font-size: 1rem;
 
 }


@media screen and (max-width: 800px) { 
    .login-main-div{
    
        background-image: url("../../images/background.jpg") ;
        background-size: cover;
        margin-left: 5rem;
        width: 100%;
      
    }


    .login-page-form-div{
 
     
        height: 50vh;
        width: 70%;
        color: black;
        margin: unset;
    
    
        
    
    }
}


 
 
 
 
 
 /* **********************   signup-page-css       ************************************** */
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 .signup-main-div{
  
    background-image: url("../../images/background.jpg") ;
    background-size: 700px;
    margin-left: 5rem;
    width: 100%;
 }
 
 .signup-page-form-div{
 
    border-radius: 2rem;
    background-color: rgba(83, 54, 54, 0.123);
   
    height: 65vh;
    width: 40%;
    color: black;
    margin: auto;
    text-align: center;
 
 
     
 
 }
 
 .signup-heading{
 
    
     font-size: 2.5rem;
     font-style: italic;
     font-family: 'Courier New', Courier, monospace;
     color: white;
     margin-bottom: 2rem;
     padding-top: 1.5rem;
 
 }
 
 

 
 
 .signup-email-input{
 height: 3.3vh;
 width: 76%;
 text-align: center;
 
 
 
 }
 .signup-password-label{
    font-size: 1rem;
 margin-right: auto;
 margin-left: 11%;
 margin-top: 0.7rem;
 color: red;
 font-weight: 600;
 }
 .signup-firstname-label{
    font-size: 1rem;

  
 margin-top: 0.7rem;
 color: red;
 font-weight: 600;
 margin-right: 4rem;
 
 }
 
 
 .signup-lastname-label{
    font-size: 1rem;

     margin-top: 0.7rem;

 color: red;
 font-weight: 600;
 margin-right: 4rem;
 
 
 
 }
 .signup-password-input{
 height: 3.3vh;
 width: 76%;
 text-align: center;
 
 
 
 }
 .signup2-button{
     width: 78%;
 margin: 1rem;
 height: 4vh;
 color: red;
 border: 1.1px solid red;
 font-weight: bolder;
 
 
     
 
 
 }
 .signup-lastname-div{
     width: 46%;
 
 
 }
 
 .signup-firstname-div{
     width: 46%;
 
 
 }
 .signup-name-div{
     margin-left: 2rem;
 
 }
 
 .signup-username-div{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .signup-password-div{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .signup-username-label{
    font-size: 1rem;

     margin-right: auto;
 margin-left: 11%;
 margin-top: 0.7rem;
 color: red;
 font-weight: 600;
 }
 .already-a-member{
     color: red;
 }
 .already-a-member-signup{
 
     color: white;
     text-decoration: none;
     font-size: 1rem;
 
 }
 
 .signup-name-div{
     display: flex;
 }








 @media screen and (max-width: 800px) { 
    .signup-main-div{
    
        background-image: url("../../images/background.jpg") ;
        background-size: cover;
        margin-left: 0rem;
        width: 100%;
      
    }


    .signup-page-form-div{
 
     
        height: 50vh;
        width: 100%;
        color: black;
        margin: unset;
        text-align:unset;
    
    
        
    
    }
}