
.main-navbar-div{
    display: flex;


    height: 17vh;
    box-shadow: 0px 0.2px 0px 0px;
 


}
.logo{
    border-radius: 50%;
    margin: 1.5rem;
    margin-right: 0.5rem;
    height: 60%;
    margin-top: 1rem;
    
}
.nav-logo-side{
    display: flex;
    text-decoration: none;
    
}
.logo-text{
    margin-left: 0.2rem;
    color: white;
    font-size: 2.2rem;
}
.logo-span-text{
    color: red;
}
.login-button{
    height: 5vh;
    cursor: pointer;   

    font-size: 1.2rem;
    margin: 2rem;
    margin-left: 1.3rem;
    background-color: red;
    color: white;
    padding: 0.5rem;
    padding-bottom: 1.8rem;
    border-radius: 10%;
   


}

.nav-search{
    margin-top: 2rem;
    
    height: 3.4vh;
    width: 27rem;

}

.search-div{
margin-left: 15%;
}
.left-side-div{
    display: flex;
    margin: 2rem;
    margin-left: auto;
    margin-top: -0.2rem;
    
}
.left-side-icon{
    margin: 2rem;
    margin-left: 1.3rem;


}
.left-side-icon:hover{
cursor: pointer;    
}
.navbar-links-button{
    color: white;
    text-decoration: none;
    
}
.bell-icon{

    font-size: 2.2rem;
   
    

}
.hamburger{
    display: none;
}


















/* *********************   Responsive        ********************* */


@media screen and (max-width: 700px) { 
    
.main-navbar-div{
    width: 100%;
    display: flex;
    height: 6.5vh
    ;
    box-shadow: 0px 0.2px 0px 0px;
    margin-bottom: 2rem;
    margin-top: 1rem;



}
.logo{
    border-radius: 50%;
    margin: 0.4rem;
    margin-right: 0.5rem;
    
    height: 6vh;

    margin-top: 0.6rem;
    
}
.nav-logo-side{
    display: flex;
    text-decoration: none;
   
    margin-top: -1rem;


height: 10vh;
margin-left: 0rem;




}
.logo-text{
    margin: 1rem;
    margin-left: 0rem;
    color: white;
    font-size: 1.6rem;
    margin-top: 1.2rem;
}
.logo-span-text{
   
    color: red;
}
.login-button-div2{
margin-top: 0.3rem;
}
.login-button{
    height: 1vh;
    cursor: pointer;   

    font-size: 1em;
    margin: 1rem;
    margin-left: 0rem;
    background-color: red;
    color: white;
    padding: 0.1rem;
    padding-bottom: 1.5rem;
    border-radius: 10%;

   


}

.nav-search{
    margin-top: 0rem;
    
    height: 4vh;
 
    width: 8rem;

}

.search-div{
margin-left: 0%;

display: none;
}
.left-side-div{
    display: flex;
     margin-top: -1rem;
    margin-left: auto;
    /* margin-left: 4rem; */
    
}
.left-side-icon{
    margin: 1.2rem;
    margin-left: 0rem;



}
.left-side-icon:hover{
cursor: pointer;    
}
.navbar-links-button{
    color: white;
    text-decoration: none;
    
}
.bell-icon{
 display: none;

    font-size: 2.2rem;
   
    
}
.profile-icon{
    display: none;
}
.hamburger{
    display: unset;
    font-size: 1.1rem;
    margin-top: -0.4rem;
}


    

  
  
    
    
    
    }

