.side-icon-div{
    text-align: center;
    margin-left: 1rem;

    margin: 2rem;
    box-shadow: 0.2px 0px 0px 0px;

    
    padding-right: 8rem;

}

.side-icon{
    font-size: 2rem;
    margin-bottom: -2.2rem;
    margin-left: 0.5rem;

}
.side-icon-text{
    font-size: 1rem;
    font-weight: bolder;

}
.side-bar-links{
    color: white;
    text-decoration: none;
}
.side-icon-text2{
    font-size: 0.9rem;
}