.footer-div{
    display: flex;
    z-index: 50;

}
.text-div{
    font-size: 1.5rem;
    margin: 1em
}
.contact-div{
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
}
.contact-link{
   margin: 1rem;
   font-size: 2rem;
   color: white;
}


@media screen and (max-width: 800px) { 

    .footer-div{
        display: unset;
    
    }
    .text-div{
        font-size: 1.2rem;
        margin: 1em
    }
    .contact-div{
        display: flex;
        /* margin-left: auto;
        align-items: center; */
        /* margin-left: 3rem; */
        margin-left: unset;
        
         justify-content: center;
    }
    .contact-link{
       margin: 1rem;
       font-size: 2rem;
       color: white;
      
    }


}