.footer-div{
    display: flex;

}
.text-div{
    font-size: 1.5rem;
    margin: 1em
}
.contact-div{
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
}
.contact-link{
   margin: 1rem;
   font-size: 2rem;
   color: white;
}