.Likes-video-div{
    margin-left: 5rem;
    margin-top: 3rem;
  
    display: grid;
    grid-template-columns: auto auto;
}
.Likes-video-div2{
    /* display: flex; */
    border: 2px solid white;
    position: relative;

    height: 65vh;
 
    margin: 1.5rem;
    /* padding: 1.1rem; */


}
.Likes-video-image{
    height: 50vh;
    width: 70%;
    margin-left: 0.5rem;
}

.delete-icon{
    font-size: 2rem;
    position: absolute;
    bottom: 5px;
    right: 15px;
    
}
.showing-result-text{
    font-size: 1.5rem;
}






@media screen and (max-width: 800px) {



    .Likes-video-div{
        margin-left: 0rem;
        margin-top: 0.5rem;
      
        display: grid;
        grid-template-columns: auto;
    }
    .Likes-video-div2{
     
        border: 2px solid white;
        position: relative;
    
        height: 65vh;
     
        margin: 1.5rem;
       
    
    
    }
    .Likes-video-image{
        height: 40vh;
        width: 80%;
        margin-left: 0rem;
    }
    
   
    






}