.App {
  text-align: center;

  overflow-x: hidden;
  

 
}
body{
  background-color: black;
  color: white;
}


button{
  cursor: pointer;
}

.main-container{
  display: flex;
}



.sideBar-home-div{
  width: 8%;


}
.routes-div{
  width: 92%;

}
.responsiveNavbar{
display: none;

}

@media screen and (max-width: 800px) { 
  
.sideBar-home-div{
  /* display: none; */
  width: 0%;
  


}

.routes-div{
  width: 100%;
  z-index: 1;
}






}
